body {
  background-color: #f7f3f3;
}
p {
  color: #C8C8C8;
  font-family: arial;
  text-align: center;
  text-shadow: 3px 3px #404040;
}
#listTitle {
  color: #1e90ff;
  font-size: 50px;
}
#myDeleteButton {
  color:black; width:50px; 
  height: 25px;
  margin:20px;
}
